    @*
        For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    *@
    @{
    ViewData["header"] = true;
    }
<head>
    <script>$(':radio').change(function () {
            console.log('New star rating: ' + this.value);
        });</script>
    <style>
        .rating {
            display: block;
            position: relative;
            height: 50px;
            line-height: 50px;
            font-size: 50px;
        }

        .flex-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .rating label {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            cursor: pointer;
        }

            .rating label:last-child {
                position: static;
            }

            .rating label:nth-child(1) {
                z-index: 5;
            }

            .rating label:nth-child(2) {
                z-index: 4;
            }

            .rating label:nth-child(3) {
                z-index: 3;
            }

            .rating label:nth-child(4) {
                z-index: 2;
            }

            .rating label:nth-child(5) {
                z-index: 1;
            }

            .rating label input {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
            }

            .rating label .icon {
                float: left;
                color: transparent;
            }

            .rating label:last-child .icon {
                color: #000;
            }

        .rating:not(:hover) label input:checked ~ .icon,
        .rating:hover label:hover input ~ .icon {
            color: #09f;
        }

        .rating label input:focus:not(:checked) ~ .icon:last-child {
            color: #000;
            text-shadow: 0 0 5px #09f;
        }

        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-column-gap: 20px;
            border: 1px solid #ccc; /* Add borders between columns */
        }

        .inputField {
            padding: .75rem 0 0 0;
            font-size: 2rem;
            background-color: transparent;
        }
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<main>
    <a href="~/"><i class="fa fa-home fa-3x"></i></a>
    <h1 style="text-align:center">@ViewData["title"]</h1>
    <div class="grid-container">

        <div class="grid-item">
            @ViewData["1"]
        </div>
        <div class="grid-item">
            @ViewData["2"]
        </div>
        <div class="grid-item">
            @ViewData["3"]
        </div>
    </div>
    <form method="post" action="/Questions/Set/">
        <input hidden name="id1" id="id1" value="@ViewData["1i"]">
        <input hidden name="id2" id="id2" value="@ViewData["2i"]">
        <input hidden name="id3" id="id3" value="@ViewData["3i"]">
        <input hidden name="next" id="next" value="@ViewData["next"]">


        <div class="grid-container" style="justify-content: space-between">
            <div class="grid-item">
                Accuracy
                <div class="rating">
                    <label>
                        <input type="radio" name="Accuracy_Stars1" id="Accuracy_Stars1" value="1" />
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="Accuracy_Stars1" id="Accuracy_Stars1" value="2" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="Accuracy_Stars1" id="Accuracy_Stars1" value="3" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="Accuracy_Stars1" id="Accuracy_Stars1" value="4" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="Accuracy_Stars1" id="Accuracy_Stars1" value="5" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                </div>

            </div>
            <div class="grid-item">
                Accuracy
                <div class="rating">
                    <label>
                        <input type="radio" name="Accuracy_Stars2" id="Accuracy_Stars2" value="1" />
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="Accuracy_Stars2" id="Accuracy_Stars2" value="2" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="Accuracy_Stars2" id="Accuracy_Stars2" value="3" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="Accuracy_Stars2" id="Accuracy_Stars2" value="4" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="Accuracy_Stars2" id="Accuracy_Stars2" value="5" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                </div>

            </div>
            <div class="grid-item">
                Accuracy
                <div class="rating">
                    <label>
                        <input type="radio" name="Accuracy_Stars3" id="Accuracy_Stars3" value="1" />
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="Accuracy_Stars3" id="Accuracy_Stars3" value="2" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="Accuracy_Stars3" id="Accuracy_Stars3" value="3" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="Accuracy_Stars3" id="Accuracy_Stars3" value="4" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="Accuracy_Stars3" id="Accuracy_Stars3" value="5" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                </div>

            </div>
            <div class="grid-item">
                Pyramidality
                <div class="rating">
                    <label>
                        <input type="radio" name="Pyramidality_Stars1" id="Pyramidality_Stars1" value="1" />
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="Pyramidality_Stars1" id="Pyramidality_Stars1" value="2" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="Pyramidality_Stars1" id="Pyramidality_Stars1" value="3" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="Pyramidality_Stars1" id="Pyramidality_Stars1" value="4" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="Pyramidality_Stars1" id="Pyramidality_Stars1" value="5" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                </div>

            </div>
            <div class="grid-item">
                Pyramidality
                <div class="rating">
                    <label>
                        <input type="radio" name="Pyramidality_Stars2" id="Pyramidality_Stars2" value="1" />
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="Pyramidality_Stars2" id="Pyramidality_Stars2" value="2" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="Pyramidality_Stars2" id="Pyramidality_Stars2" value="3" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="Pyramidality_Stars2" id="Pyramidality_Stars2" value="4" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="Pyramidality_Stars2" id="Pyramidality_Stars2" value="5" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                </div>

            </div>
            <div class="grid-item">
                Pyramidality
                <div class="rating">
                    <label>
                        <input type="radio" name="Pyramidality_Stars3" id="Pyramidality_Stars3" value="1" />
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="Pyramidality_Stars3" id="Pyramidality_Stars3" value="2" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="Pyramidality_Stars3" id="Pyramidality_Stars3" value="3" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="Pyramidality_Stars3" id="Pyramidality_Stars3" value="4" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="Pyramidality_Stars3" id="Pyramidality_Stars3" value="5" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                </div>

            </div>
            <div class="grid-item">
                Difficulty
                <div class="rating">
                    <label>
                        <input type="radio" name="Difficulty_Stars1" id="Difficulty_Stars1" value="1" />
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="Difficulty_Stars1" id="Difficulty_Stars1" value="2" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="Difficulty_Stars1" id="Difficulty_Stars1" value="3" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="Difficulty_Stars1" id="Difficulty_Stars1" value="4" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="Difficulty_Stars1" id="Difficulty_Stars1" value="5" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                </div>

            </div>
            <div class="grid-item">
                Difficulty
                <div class="rating">
                    <label>
                        <input type="radio" name="Difficulty_Stars2" id="Difficulty_Stars2" value="1" />
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="Difficulty_Stars2" id="Difficulty_Stars2" value="2" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="Difficulty_Stars2" id="Difficulty_Stars2" value="3" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="Difficulty_Stars2" id="Difficulty_Stars2" value="4" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="Difficulty_Stars2" id="Difficulty_Stars2" value="5" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                </div>
            </div>
            <div class="grid-item">
                Difficulty
                <div class="rating">
                    <label>
                        <input type="radio" name="Difficulty_Stars3" id="Difficulty_Stars3" value="1" />
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="Difficulty_Stars3" id="Difficulty_Stars3" value="2" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="Difficulty_Stars3" id="Difficulty_Stars3" value="3" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="Difficulty_Stars3" id="Difficulty_Stars3" value="4" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="Difficulty_Stars3" id="Difficulty_Stars3" value="5" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                </div>

            </div>
            <div class="grid-item">
                <p>Add your comments here:</p>
                <textarea name="d1" id="d1" style="height: 250px;"></textarea>
            </div>
            <div class="grid-item">
                <p>Add your comments here:</p>
                <textarea name="d2" id="d2" style="height: 250px;"></textarea>
            </div>
            <div class="grid-item">
                <p>Add your comments here:</p>
                <textarea name="d3" id="d3" style="height: 250px;"></textarea>
            </div>


        </div>
        <div class="flex-container">
            <div style="position:relative; bottom:10%;">
                <input style="  background-color: #04AA6D;
      border: none;
      color: white;
      padding: 16px 32px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
    " type="submit" value="Submit" />
            </div>
            <a href="~/Questions/Ask/@(ViewData["next"])" style="bottom: 10%;"><i class="fa fa-arrow-right fa-3x"></i></a>
        </div>
</form>
</main>
